/* elements */

i.icon:before{
  color:#ffffff;
}

.input{
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  margin: auto;
  width: 32vw;
  /* padding:1; */
  border-radius: 18px;
  text-indent: 2;
}

#device{
  background: rgba(255, 0, 255, 0.3);
  align-items: left;
  justify-content: center;
}

#ytplayer {
   width:100%;
   height:100%;
   position: fixed;
   padding:0;
   border:0;
 }


/* CONTAINERS */

.App {
  background-color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Sesh {
  width: 100%;
  height: 100%;
}

.Control-Bar {
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 10vh auto; */
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
   z-index:2;
}



.form{

  padding:2;
height: auto;
width: auto;
position: absolute;
margin: auto;
top: 0px;
 z-index:3;
}
